pipeline/USCB_S1201_MARITAL_STATUS_copy2.json
{
	"name": "USCB_S1201_MARITAL_STATUS_copy2",
	"properties": {
		"activities": [
			{
				"name": "LOAD_USCB_S1201_MARITAL_STATUS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Files/USCB_S1201-MARTIAL STATUS",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "GEO_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "GEO_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "S1201_C02_002E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TMV_PER_MAR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "S1201_C02_009E",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TFV_PER_MAR",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "State Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "State Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "State Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "County Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "County Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "County Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Tract Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tract Code",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Tract Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Tract Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "File Source Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "File Source Name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "s1201_test1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "TEST_1201",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Success Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LOAD_USCB_S1201_MARITAL_STATUS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Usp_audit_Log]",
					"storedProcedureParameters": {
						"adfName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Errors": {
							"value": null,
							"type": "String"
						},
						"ExecDate": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowCopied": {
							"value": {
								"value": "@activity('LOAD_USCB_S1201_MARITAL_STATUS').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowRead": {
							"value": {
								"value": "@activity('LOAD_USCB_S1201_MARITAL_STATUS').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": null,
							"type": "String"
						},
						"Target": {
							"value": null,
							"type": "String"
						},
						"throughPut": {
							"value": {
								"value": "@activity('LOAD_USCB_S1201_MARITAL_STATUS').output.throughPut",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"triggerName": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"triggerTime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Cencus_Output_Ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SendEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "LOAD_USCB_S1201_MARITAL_STATUS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
					"method": "POST",
					"body": {
						"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('LOAD_USCB_S1201_MARITAL_STATUS').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}