WCH-adfdev/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WCH-adfdev"
		},
		"test_trig_properties_pipeline1_parameters_Filenamep": {
			"type": "string",
			"defaultValue": "triggerBody().FileName"
		},
		"test_trig_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/bb6de48e-f806-4129-ab7f-4f5c97c177cb/resourceGroups/RG_Nate/providers/Microsoft.Storage/storageAccounts/wchraw"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/S2101')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S2101_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Files/S2101/Year/2019",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "S2101_C01_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " CPO18_All ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C01_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " CPO18_Male ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C01_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " CPO18_Female ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_O18 ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_002E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_GWII_POS_O18 ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_003E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_POS_GWI ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_004E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_POS_VE ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_005E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_POS_KE ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_006E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_POS_WWII ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_SEX_MALE ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_SEX_FEMALE ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_009E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_AGE_18TO34 ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_010E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_AGE_35TO54 ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_011E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_55TO64",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_012E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_018_AGE_65TO74",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_013E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_AGE_O75 ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_014E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_WHITEALONE ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_015E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_BA ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_016E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_AIAN ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_017E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_ASIAN ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_018E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_NHOPI ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_019E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_SOR ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_020E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_TWO_OR_MORE ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_021E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_HL ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C03_022E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " TV_018_RACE_HL_WHITEA_NOT_HORL ",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_C04_001E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " PERCENT_VETERANS_OF_TOTALPOP ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "S2101_C04_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " PERCENT_VETERANS_OF_SEX_MALE ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "S2101_C04_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": " PERCENT_VETERANS_OF_SEX_FEMALE ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Tract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "S2101_Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "S2101_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S2101_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "S2101_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/URBAN_RURAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "URBAN_RURAL_DATA_LOAD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "STATE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COUNTY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATENAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATENAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTYNAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COUNTYNAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "POPPCT_URBAN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PER_UW",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "POPPCT_RURAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PER_RW",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "URBAN_RURAL_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "URBAN_RURAL_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "URBAN_RURAL_DATA_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "URBAN_RURAL_DATA_LOAD",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.rowscopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.rowsread",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('URBAN_RURAL_DATA_LOAD').output.throughput",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_Metadata_B21001')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Load_Metadata_B21001",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "B21001_Metadata_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "B21001_Metadata_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_Metadata_B21100')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "B21100_Medataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Estimate RAW ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Estimate Raw ColumnName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Display Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Display Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column NamesData_PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "User Friendly Column NamesData_PROCESSED",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "User Friendly Column Names_Report",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "User Friendly Column Names_Report",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "B21100_Metadata_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "B21100_Metadata_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_Metadata_S2101')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S2101_Medataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RAW Data ColumnName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Estimate RAW ColumnName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Estimate RAW ColumnName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Display Name ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Display Name ",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "User Friendly ColumnNames Data_PROCESSED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "User Friendly ColumnNames Data_PROCESSED",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "User Friendly ColumnNames_Report",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "User Friendly ColumnNames_Report",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S2101_Metadata_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "S2101_Metadata_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_S1201_MARITAL_STATUS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LOAD_USCB_S1201_MARITAL_STATUS",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Sheetnames')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Load_S1201_data",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "SqlDWSink"
										},
										"enableStaging": false,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Info",
												"enableReliableLogging": true
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "Cencus_Blob_Input_Ls",
													"type": "LinkedServiceReference"
												},
												"path": "cencus"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "GEO_ID"
													},
													"sink": {
														"name": "GEO_ID"
													}
												},
												{
													"source": {
														"name": "NAME"
													},
													"sink": {
														"name": "NAME"
													}
												},
												{
													"source": {
														"name": "S1201_C02_002E"
													},
													"sink": {
														"name": "TMV_PER_MAR"
													}
												},
												{
													"source": {
														"name": "S1201_C02_009E"
													},
													"sink": {
														"name": "TFV_PER_MAR"
													}
												},
												{
													"source": {
														"name": "State Code"
													},
													"sink": {
														"name": "State Code"
													}
												},
												{
													"source": {
														"name": "State Name"
													},
													"sink": {
														"name": "State Name"
													}
												},
												{
													"source": {
														"name": "County Code"
													},
													"sink": {
														"name": "County Code"
													}
												},
												{
													"source": {
														"name": "County Name"
													},
													"sink": {
														"name": "County Name"
													}
												},
												{
													"source": {
														"name": "Tract Code"
													},
													"sink": {
														"name": "Tract Code"
													}
												},
												{
													"source": {
														"name": "Tract Name"
													},
													"sink": {
														"name": "Tract Name"
													}
												},
												{
													"source": {
														"name": "File Source Name"
													},
													"sink": {
														"name": "File Source Name"
													}
												},
												{
													"source": {
														"name": "Year"
													},
													"sink": {
														"name": "Year"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "USCB_S1201_MARTIAL_STATUS_IP_DS",
											"type": "DatasetReference",
											"parameters": {
												"Sheetname": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "USCB_S1201_MARTIAL_STATUS_OP_DS",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Sheetnames": {
						"type": "Array",
						"defaultValue": [
							"s1201_4C_state",
							"s1201_4C_county",
							"s1201_4C_Tract"
						]
					}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_State_Ref')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "State_Ref_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State Code(FIPS CODE)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State Code(FIPS CODE)",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State ABBR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State ABBR",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USCB_State_Ref_Input",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USCB_State_Ref_Output",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:46Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USPS_ZIPCODE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "USPS_ZIPCODE_LOAD",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": true
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "Cencus_Blob_Input_Ls",
										"type": "LinkedServiceReference"
									},
									"path": "cencus"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Zip",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Zip",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Decommissioned",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Decommissioned",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Primary_City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Primary_City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Timezone",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Timezone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Area_Codes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Area_Codes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Approximate_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Approximate_Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Approximate_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Approximate_Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Polygon_Offset_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Polygon_Offset_Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Polygon_Offset_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Polygon_Offset_Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Internal_Point_Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Internal_Point_Latitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Internal_Point_Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Internal_Point_Longitude",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Latitude_Min",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude_Min",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Latitude_Max",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude_Max",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Longitude_Min",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude_Min",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Longitude_Max",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude_Max",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 18
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "USPS_ZIPCODE_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "USPS_ZIPCODE_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Sucesses Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "USPS_ZIPCODE_LOAD",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Failure Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "USPS_ZIPCODE_LOAD",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('USPS_ZIPCODE_LOAD').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "USPS_ZIPCODE_LOAD",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-13.northcentralus.logic.azure.com:443/workflows/99d17a4cd2694ca29e61f46ebc200cb2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=EUQifdjPOnAERqyFKg0b1D0TJWAplWCw0gdRUAC4XKU",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"activity('USPS_ZIPCODE_LOAD').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-15T09:12:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "event_Test",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@pipeline().parameters.Filenamep",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "event_dest_Test",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Filenamep": {
						"type": "string"
					}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_trig')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline1",
							"type": "PipelineReference"
						},
						"parameters": {
							"Filenamep": "[parameters('test_trig_properties_pipeline1_parameters_Filenamep')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/cencusdata/blobs/INPUT/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('test_trig_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline1')]"
			]
		}
	]
}