WCH-adfdev/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "WCH-adfdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Metadata_URBAN_RURAL_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Metadata_URBAN_RURAL_08_11_2019.csv",
						"folderPath": "Metadata_CencusData/URBAN_RURAL",
						"container": "cencusdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Metadata_URBAN_RURAL_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "M_URBAN_RURAL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S2101_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "Files/B21100/Year/2019",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S2101_Metadata_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Metadata_S2101.csv",
						"folderPath": "Metadata_CencusData",
						"container": "cencusdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S2101_Metadata_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "M_S2101"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S2101_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "AL_S2101"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tract_Ref_IP_Ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Country_State_County_Tract_Ref.csv",
						"folderPath": "Reference_TableData",
						"container": "cencusdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Tract_Ref_Op_Ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Country_State_County_Tract_Ref"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/URBAN_RURAL_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "URBAN_RURAL_08_11_2019.txt",
						"folderPath": "Files/URBAN_RURAL/Year/2019",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/URBAN_RURAL_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "STATE",
						"type": "int",
						"precision": 10
					},
					{
						"name": "COUNTY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "STATENAME",
						"type": "nvarchar"
					},
					{
						"name": "COUNTYNAME",
						"type": "nvarchar"
					},
					{
						"name": "PER_UW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PER_RW",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "URBAN_RURAL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_S1201_MARTIAL_STATUS_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "USCB_S1201_08_12_2019.csv",
						"folderPath": "Files/USCB_S1201-MARTIAL STATUS",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_S1201_MARTIAL_STATUS_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "USCB_S1201_MARTIAL_STATUS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_State_Ref_Input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Ref_State.csv",
						"folderPath": "Reference_TableData",
						"container": "cencusdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USCB_State_Ref_Output')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "State_Ref"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USPS_ZIPCODE_IP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Cencus_Blob_Input_Ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "USPS ZIP Code.txt",
						"folderPath": "Files/USPS_ZIP CODE/YEAR/2019",
						"container": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USPS_ZIPCODE_OP_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_WCH_DEV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "USPS_ZIPCODE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21001')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "load_B21001",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Files/B21001/Year/2019",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B21001_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TMV_018_AGE_18TO34",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_011E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TMV_018_AGE_35TO54",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_014E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TMV_018_AGE_55TO64",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_017E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TMV_018_AGE_65TO74",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_020E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TMV_018_AGE_75P",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_026E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TFV_018_AGE_18TO34",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_029E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TFV_018_AGE_35TO54",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_032E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TFV_018_AGE_55TO64",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_035E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TFV_018_AGE_65TO74",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21001_038E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TFV_018_AGE_75P",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Tract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "B21001_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "B21001_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "B21001_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Sucesses",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "load_B21001",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('load_B21001').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('load_B21001').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('load_B21001').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "load_B21001",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('load_B21001').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('load_B21001').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('load_B21001').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mail send",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "load_B21001",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-10.northcentralus.logic.azure.com:443/workflows/9579b5105bb2494eb35fc128d2eb6517/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=w0h60ol0DAeR2lDkwKPJUr5VFL6EGd-CTb0Nfj3oHgs",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('load_B21001').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-03T08:20:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/B21100')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "B21100_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "Files/B21100/Year/2019",
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B21100_009E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_SCDNOT",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_002E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_WOSCD",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_003E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_WSCD",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_004E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD10",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_005E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD10TO20",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_006E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD30or40",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_007E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD50or60",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "B21100_008E",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TV_PER_SCD70P",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Tract",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Tract",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "B21100_Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "B21100_Year",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "B21100_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "B21100_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Sucesses",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "B21100_Dataload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('B21100_Dataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('B21100_Dataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('B21100_Dataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "B21100_Dataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('B21100_Dataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('B21100_Dataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('B21100_Dataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mail send",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "B21100_Dataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-10.northcentralus.logic.azure.com:443/workflows/9579b5105bb2494eb35fc128d2eb6517/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=w0h60ol0DAeR2lDkwKPJUr5VFL6EGd-CTb0Nfj3oHgs",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('B21100_Dataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-06T09:22:55Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CHR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CHR_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "State FIPS Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State FIPS Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County FIPS Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County FIPS Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "5-digit FIPS Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "5-digit FIPS Code",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State Abbreviation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State Abbreviation",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountyName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Release Year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Release Year",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "County Ranked (Yes=1/No=0)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County Ranked (Yes=1/No=0)",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Primary care physicians numerator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PCP",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Dentists numerator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DCP",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Mental health providers numerator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MHP",
											"type": "Int32",
											"physicalType": "int"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CHR_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CHR_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Log Sucesses",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHR_Dataload",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('CHR_Dataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('CHR_Dataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('CHR_Dataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log Failure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CHR_Dataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Usp_audit_Log]",
							"storedProcedureParameters": {
								"adfName": {
									"value": {
										"value": "@pipeline().DataFactory",
										"type": "Expression"
									},
									"type": "String"
								},
								"Errors": {
									"value": null,
									"type": "String"
								},
								"ExecDate": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"RowCopied": {
									"value": {
										"value": "@activity('CHR_Dataload').output.rowsRead",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"RowRead": {
									"value": {
										"value": "@activity('CHR_Dataload').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"runid": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Source": {
									"value": null,
									"type": "String"
								},
								"Target": {
									"value": null,
									"type": "String"
								},
								"throughPut": {
									"value": {
										"value": "@activity('CHR_Dataload').output.throughPut",
										"type": "Expression"
									},
									"type": "Decimal"
								},
								"triggerName": {
									"value": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"type": "String"
								},
								"triggerTime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "Cencus_Output_Ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Mail send",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "CHR_Dataload",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-10.northcentralus.logic.azure.com:443/workflows/9579b5105bb2494eb35fc128d2eb6517/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=w0h60ol0DAeR2lDkwKPJUr5VFL6EGd-CTb0Nfj3oHgs",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\n\"DataFactoryName\" :\"@{pipeline().DataFactory}\",\n\"PipelineName\" :\"@{pipeline().Pipeline}\",\n\"ErrorMessage\" :\"@{activity('CHR_Dataload').Error.Message}\",\n\"PipelineRunID\" :\"@{pipeline().RunId}\",\n\"Time\" :\"@{utcnow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-06T09:26:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Country_State_County_Ref')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Country_State_County_Ref_Dataload",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SqlDWSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State Code(FIPS CODE)",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State Name ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County Code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "County Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "County Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "County_Ref_IP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "County_Ref_OP_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "USCB"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-06T09:26:47Z"
			},
			"dependsOn": []
		}
	]
}